<section class="usermaster">
    <div class="main">
        <fieldset>
            <legend>User Entery</legend>
        
        <!--------------Row 1----------------->
        <div  id="r1" class="row">
            <div class="col s12 m4">
                    <!-- <mat-form-field floatLabel="always" appearance="fill"></mat-form-field> -->
                    <mat-label>Type:</mat-label>
                            <input matInput>
           </div>
            <div class="col s12 m2">
                            <mat-label>Level:</mat-label>
                                <input matInput>
                    
            </div>
            <div class="col s12 m6"></div>
        </div>
        <div  id="r2" class="row">
                <div class="col s12 m4">
                        <!-- <mat-form-field floatLabel="always" appearance="fill"></mat-form-field> -->
                        <mat-label>Name:</mat-label>
                                <input matInput>
               </div>
                <div class="col s12 m2">
                                <mat-label>Login Lvl:</mat-label>
                                    <input matInput>
                        
                </div> 
        </div>
        <div  id="r3" class="row">
                <div class="col s12 m4">
                        <!-- <mat-form-field floatLabel="always" appearance="fill"></mat-form-field> -->
                        <mat-label>User Id:</mat-label>
                                <input matInput>
               </div>
                <div class="col s12 m4">
                                <mat-label>Branch Code:</mat-label>
                                    <input matInput>
                </div> 
                <div class="col m1">
                       <a href="" (click)="openDialog()"><i class="fas fa-search"></i></a>
                </div>
                <div class="col s12 m3">
                        <mat-label>Branch Name:</mat-label>
                        <input matInput>
                </div> 
        </div>
        <div  id="r4" class="row">
                <div class="col s12 m4">
                        <!-- <mat-form-field floatLabel="always" appearance="fill"></mat-form-field> -->
                        <mat-label>Password:</mat-label>
                                <input matInput>
               </div>
                <div class="col s12 m4">
                                <mat-label>Company Code:</mat-label>
                                    <input matInput type="text">
                </div> 
                <div class="col m1">
                        <a href=""><i class="fas fa-search"></i></a>
                        <!-- <i class="small material-icons"><a href="">search</a></i> -->
                    </div>
                <div class="col s12 m3">
                        <mat-label>Company Name:</mat-label>
                        <input matInput>
                </div> 
        </div>
        <div  id="r4" class="row">
                <div class="col s12 m3">
                        <!-- <mat-form-field floatLabel="always" appearance="fill"></mat-form-field> -->
                        <mat-label>Role:</mat-label>
                                <input matInput>
               </div>
               <div class="col s12 m9"></div>
                
        </div></fieldset>
    </div>
</section>



  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>